.BtnAjoutPanier {
    margin: 5px;
    background-color: seagreen;
    color: white;
    padding: 0.75rem;
    border: 1px solid rgb(1, 73, 1);
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}