.BtnAjoutPanier {
    background-color: rgb(110, 133, 110);
    color: rgb(255, 255, 255);
    padding: 0.4rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.BtnAjoutPanier:hover  {
    background-color: rgb(26, 80, 26);
}